/* JANESSA GROVES */

/* CSS RESET BY MEYERWEB.COM */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-size: 16px;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- VARIABLES ----- */
:root{
    /* BRAND COLORS */
	--ube: #B27CC5;
	--carbon: #282828;
	--murado: #651992;
	--growth: #8FC57C;
	--mango: #FED65A;
	--periwinkle: #5A82FE;

	/* DESIGN COLORS */
	--blk: #000000;
	--wht: #ffffff;
	--gray: #CCCCCC;
	--ltGray: #E5E5E5;

		/* pastel rainbow */
		--pastelRed: #FAACA7;
		--pastelOrange: #F5CD9A;
		--pastelYellow: #F9F1A4;
		--pastelGreen: #B3F5A9;
		--pastelBlue: #B1CBF5;
		/* purple in rainbow is ube */
		--pastelPink: #F09CD6;

		/* myspace parody */
		--msDkBlue: #154799;
		--msMedBlue: #99C0FF;
		--msBrightBlue:#2C72E2;
		--msLtBlue: #D7E4F9;
		--msLtOrange: #EFD8BA;
		/* dark orange is same as rainbow */

    /* FONTS */
	--aleo: "Aleo", serif;
	--arial: Arial, Helvetica, sans-serif;
	--inter: "Inter", sans-serif;
	--jbMono: "JetBrains Mono", monospace;
	--meow: "Meow Script", cursive;
	--mont: "Montserrat", sans-serif;
	--ver: Verdana, sans-serif;	
}

/* ----- BODY/GLOBAL -----  */
body {
	background: var(--ube);
	background: linear-gradient(90deg, var(--pastelRed) 0%, var(--pastelOrange) 16%, var(--pastelYellow) 33%, var(--pastelGreen) 50%, var(--pastelBlue) 66%, var(--ube) 82%, var(--pastelPink) 100%);
}

/* ----- TYPOGRAPHY -----  */
nav, .urlBar {
	font-family: var(--inter);
}

#speechBubble h3 {
	font-family: var(--meow);
	font-size: 72px;
}

footer, #speechBubble p {
	font-family: var(--jbMono);
	line-height: 1.5;
}

#aboutWindow {
	font-family: var(--ver);
	line-height: 1.5;
}

small {
	font-size: 0.75em;
}

/* ----- POSITIONING MAIN ELEMENTS ON THE PAGE ----- */
body {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	height: 100vh;
}

header {
	justify-self: right;
}

footer {
	width: 100%;
}

/* ----- RESPONSIVEVE MESSAGE UNTIL I CAN CODE DIFF SIZES ----- */
	.responsiveMsg {
		display: none;
	}

/* ----- SKIP LINK ----- */
.skip-link {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.skip-link:focus {
	position: static;
	width: auto;
	height: auto;
}

/* ----- HEADER ----- */
    /* ----- NAV ----- */
	.mainNav {
		float: left;
		text-align: center;
	}

	.mainNav li {
		margin: 1rem;
	}

	nav a {
		text-decoration: none;
		color: var(--wht);
	}

	nav a:visited {
		color: var(--wht);
	}

	.desktopIcons {
		height: 50px;
	}

	.mainNav ul li p {
		text-shadow: 1px 1px 3px var(--blk);
	}

/* ----- MAIN ----- */
.fauxBrowser {
	width: 1020px;
	height: 700px;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: var(--gray);
	border-radius: 10px;
	filter: drop-shadow(0 0 3px var(--carbon));
}

.windowControls {
	display: inline-flex;
	font-family: var(--inter);
	float: right;
	margin: 5px 5px auto auto;
}

.windowControls svg {
	padding: 3px;
	align-self: center;
	float: right;
}

.windowControls svg:hover {
	background-color: var(--ltGray);
	cursor: pointer;
	border-radius: 2.5px;
}

.windowControls svg:last-of-type:hover {
	background-color: var(--pastelRed);
}

.tabs {
	display: flex;
	margin-left: 5px;
}

.tabs li {
	width: 170px;
	height: 30px;
	display: flex;
	align-items: center;
	background-color: var(--ltGray);
	border-radius: 30px 30px 0 0;
	clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
	padding: 3px;
	margin-right: -15px;
	margin-top: 15px;
	margin-bottom: -1px;
	padding-left: 20px;
}

.tabs li:hover {
	cursor: pointer;
	background-color: var(--gray);
}

#activeTab {
	background-color: var(--wht);
	z-index: 5;	
}

.tabs li svg {
	margin-right: 3px;
}

.tabs li:last-of-type {
	width: 28px;
	clip-path: circle(14px at center);
	padding-left: 10px;
	margin-left: 15px;
}

.addTab svg {
	padding-left: 1px;
}

.browserWindow {
	display: none;
	height: 560px;
	width: 1020px;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
	border-radius: 0 0 10px 10px;
}

.activeWindow {
	display: grid;
}

.browserBar {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 14px 14px 5px;
	background-color: var(--wht);
	filter: drop-shadow(0 1px 3px var(--carbon));
}

.browserBar svg {
	padding: 2.5px;
	margin: 2.5px;
	border-radius: 90px;;
}

.urlBar {
	width: 800px;
	height: 30px;
	border-radius: 90px;
	background-color: var(--ltGray);
}

.urlBar p {
	display: none;
	color: var(--carbon);
	margin-top: 7px;
	margin-left: 15px;
}

#activeURL {
	display: block;
}

.bookmarks img {
	width: 18px;
	padding: 5px;
	margin-top: 5px;
	border-radius: 90px;
}

.browserBar svg:hover, .bookmarks img:hover {
	background-color: var(--gray);
	cursor: pointer;
}

	/* ----- HOME ----- */
		/* ----- Welcome Tab ----- */
		#welcomeWindow {
			grid-template-columns: 1fr 1fr;
			align-content: center;
			height: 559px;
			background-color: var(--carbon);
		}

		#speechBubble {
			color: var(--wht);
			background-color: var(--ube);
			border-radius: 35px;
			margin: auto 40px;
			width: 486px;
			position: relative;
		}

		#speechBubble:after {
			content: "";
			width: 0px;
			height: 0px;
			position: absolute;
			border-left: 50px solid var(--ube);
			border-right: 50px solid transparent;
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent; 
			left: 486px;
			top: 150px;
		}

		#speechBubble h3 {
			padding: 10px;
		}

		#speechBubble p {
			padding: 10px 25px 25px;
		}

		#speechBubble a, #speechBubble a:visited {
			color: var(--wht);
		}

		#homeSelfie {
			width: 350px;
			justify-self: center;
			align-self: center;
		}

		/* ----- About Tab ----- */
		#aboutWindow {
			grid-template-columns: 325px 580px;
			grid-template-rows: repeat(100, 10px);
			column-gap: 40px;
			justify-content: center;
			padding-top: 20px;
			background-color: var(--wht);
		}

		#aboutWindow h4 {
			font-weight: bold;
			padding: 3px;
		}

		.blueCol {
			grid-column: 1 / 1;
		}

		.orangeCol {
			grid-column: 2 / -1;
		}

		.blueCol h4 {
			background-color: var(--msBrightBlue);
			color: var(--wht);
		}

		.orangeCol h4 {
			background-color: var(--pastelOrange);
			color: var(--blk);
		}

			/* placing everything where it needs to go in the grid... why did I do this */
			.profile {
				grid-row: 1 / 25;
			}

			.contact {
				grid-row: 27 / 38;
				border: 2px solid var(--msBrightBlue);
			}

			.interests {
				grid-row: 41 / 88;
				border: 2px solid var(--msBrightBlue);
			}

			.about {
				grid-row: 4 / 32;
			}

			.top8 {
				grid-row: 37 / 71;
			}

			.comments {
				grid-row: 75 / -1;
			}

		.profile h3 {
			font-size: 1.25em;
			font-weight: bold;
		}

		.profile img {
			width: 200px;
			float: left;
			margin-right: 10px;
		}

		.profile ul {
			margin: 30px 0;
		}

		#aboutWindow p, #aboutWindow li, #aboutWindow table {
			font-size: 0.75em;
		}

		.contact li, .contact a, .contact a:visited, .top8 li {
			font-weight: bold;
			color: var(--msBrightBlue);
		}

		.contact ul {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			row-gap: 10px;
			padding: 10px;
		}

		.contact li {
			display: flex;
		}

		.contact li:hover {
			text-decoration: underline;
		}

		.contact a {
			align-self: center;
			text-decoration: none;
		}

		.top8 ol {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			row-gap: 10px;
			text-align: center;
			margin-top: 10px;
		}

		.top8 img {
			width: 122px;
		}

		.interests table, .interests th, .interests td {
			border: 2px solid var(--wht);
			color: var(--msDkBlue);
			font-weight: bold;
			text-align: left;
		}
		
		.interests th {
			width: 108px;
			background-color: var(--msMedBlue);
			padding: 3px;
		}

		.interests td {
			background-color: var(--msLtBlue);
		}

		.comments table {
			margin-top: 10px;
		}

		.comments table, .comments th, .comments td {
			border: 2px solid var(--wht);
		}

		.comments th {
			width: 150px;
			background-color: var(--pastelOrange);
			font-weight: bold;
		}

		.comments td {
			width: 428px;
			background-color: var(--msLtOrange);
			padding: 10px;
		}

/* ----- FOOTER ----- */
footer {
	text-align: center;
}

/* ----- ADDITIONAL CLASSES ----- */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip-path: inset(50%);
}

/* ----- ADDITIONAL IDS ----- */

/* ----- MEDIA QUERIES GO HERE; I'M GOING TO MAKE THIS RESPONSIVE AT A LATER TIME ----- */
@media (max-width: 1120px) {
	header, .fauxBrowser {
		display: none;
	}

	.responsiveMsg {
		display: block;
	}

	.responsiveMsg h3 {
		font-family: var(--meow);
		font-size: 65px;
		text-align: center;
	}

	.responsiveMsg p {
		font-family: var(--jbMono);
		padding: 5px 20px;
	}

	.responsiveMsg a {
		color: var(--blk);
	}
}